# Configuración del Servidor Express
PORT=3000
NODE_ENV=development

# Configuración de Base de Datos PostgreSQL
DB_USER=mi_usuario
DB_HOST=localhost
DB_DATABASE=app_finanzas
DB_PASSWORD=mi_contraseña
DB_PORT=5432
DB_MAX_CONNECTIONS=20

# Alternativa: URL de conexión directa (usada a menudo en producción/nube)
# DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require
